{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/android-chrome-512x512.png' %}">
        {% block title %}
        <title>Surf Swap</title>
        {% endblock title %}
        <link rel="stylesheet" href="{% static 'css/surfboards.css' %}">
        <!-- Google fonts: -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Space+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">


    </head>

    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'my_surfboards' %}">My Surfboards</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class="surf-swap-flag">
            <a href="{% url 'home' %}"><img src=" {% static 'images/surf_swap_flag.png' %}" alt="surf swap flag logo"></a>
        </div>
        {% block content %}
        {% endblock content %}
        <footer>
            <div class="surf-swap-globe">
                <img src=" {% static 'images/surf_swap_globe.png' %}" alt="surf swap globe logo">
            </div>
        </footer>
    </body>

</html>
