{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Surfboard List</title>
{% endblock title %}

{% block content %}
<main>

    <div class="list-grid">
        {% for surfboard in surfboards %}
            <div id="board-title-info">
                {% if user.is_authenticated %}
                <h3>
                    <a href="{% url 'surfboard_detail' surfboard.id %}">{{ surfboard.brand }} - {{ surfboard.model }} - {{ surfboard.volume }}L</a>
                </h3>
                {% else %}
                <h3>
                {{ surfboard.brand }} - {{ surfboard.model }} - {{ surfboard.volume }}L
                </h3>
                {% endif %}
                <a href="{% url 'surfboard_detail' surfboard.id %}">
                <img class="list-img" src="{{ surfboard.image }}"/>
                </a>
            </div>
        {% endfor %}
    </div>
</main>




{% endblock content %}
