{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Surfboard List</title>
{% endblock title %}

{% block content %}
<main>
    <h1>Welcome to Surf Swap!</h1>

    <div class="list-grid">
        {% for surfboard in surfboards %}
        <div>
            <div class="board-title-info">
                <h3>
                    {{ surfboard.brand }} - {{ surfboard.model }} - {{ surfboard.volume }}L
                </h3>
            </div>
            <img class="list-img" src="{{ surfboard.image }}"/>
            {% if user.is_authenticated %}
            <div>
                <h4>
                    <a href="{% url 'surfboard_detail' surfboard.id %}">Detail</a>
                </h4>
            </div>
        </div>
            {% endif %}
        {% endfor %}
    </div>
</main>




{% endblock content %}
