{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Surfboard List</title>
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Surfboards</h1>
        <p>
            <a href="{% url 'create_surfboard' %}">Add a New Board</a>
        </p>
        {% if surfboards.all|length == 0 %}
        <h3>Your collection is empty!</h3>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Style</th>
                    <th>Currently Available</th>
                </tr>
            </thead>
            <tbody>
                {% for surfboard in surfboards %}
                <tr>
                    <td>{{ surfboard.brand }}</td>
                    <td>{{ surfboard.model }}</td>
                    <td>{{ surfboard.style }}</td>
                    <td><a href="{% url 'surfboard_detail' surfboard.id %}">Detail</a></td>
                    <td>{{ surfboard.currently_available|yesno }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>




{% endblock content %}
