{% extends 'base.html' %}
{% load static %}

{% block title %}

<title>Reserve</title>
{% endblock title %}

{% block content %}

    <main>
        <div class="reserve-section">
            <div class="reserve-form">
                <form method="post">
                    <h1>Reserve This Board</h1>
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button>Let's Go!</button>
                </form>
            </div>
        </div>

        <h1 id="res-surfboard-title">{{ surfboard.brand }} - {{ surfboard.model }} - {{surfboard.volume}}L</h1>
        <div class="container">
            <div>
                <img class="res-img" src="{{ surfboard.image }}">
            </div>
            <div>
                <table class="detail-table">
                    <thead>
                        <tr>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Style</th>
                            <th>Length</th>
                            <th>Width</th>
                            <th>Thickness</th>
                            <th>Volume</th>
                            <th>Fin Style</th>
                            <th>Fin System</th>
                            <th>Currently Available</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ surfboard.brand }}</td>
                            <td>{{ surfboard.model }}</td>
                            <td>{{ surfboard.style }}</td>
                            <td>{{ surfboard.length }}</td>
                            <td>{{ surfboard.width }}</td>
                            <td>{{ surfboard.thickness }}</td>
                            <td>{{ surfboard.volume }}</td>
                            <td>{{ surfboard.fin_style }}</td>
                            <td>{{ surfboard.fin_system }}</td>
                            <td>{{ surfboard.currently_available|yesno }}</td>
                        </tr>
                    </tbody>
                </table>
                    <div class="board-description">
                        <p>Owner notes:</p>
                        {{ surfboard.description }}
                    </div>
            </div>
        </div>
    </main>

{% endblock content %}
